# File created using '.gitignore Generator' for Visual Studio Code: https://bit.ly/vscode-gig

# Created by https://www.toptal.com/developers/gitignore/api/windows,visualstudiocode

# VisualStudioCode folder ###
.vscode/

# Ignore code-workspaces
*.code-workspace

# Code::Blocks projects files
*/bin/
*/obj/
*.cbp
*.depend
*.layout

doc/